@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body {background-color: #0F0A0A; color: #F5EFED;}

#main {font-family: 'Jersey 15', sans-serif; font-weight: 400;font-size: larger;text-align: center;background-color: #0F0A0A;}